$primaryThemeColor: #573FB9;
$primaryButtonColor: #f22f7e;
$primaryButtonDisabled: #f22f7ead;
$successColor: #319a51;
$linkColor: #0000ff;
$menuColor: #001529;
$cardColorBlue: #30bae7;
$cardColorGreen: #15c7a8;
$cardColorOrange: #eb7d4b;
$cardColorPink: #d74680;
$cardColorSpan: #3c4761;
$textColor: "#3d5170";
$darkBlue: "#70bff8";
$lightGrey:#C6CED0;
$lightBlue: "#a8e3f3";
