@import "./constants/_ThemeConstants.scss";

$border_radius: 20px;
$button_width: 150;
$button_height: 40;

$themeBlack: #191919;
$cBorderRadius: 5px;

.getStartedContainer {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url('./assets/images/getStarted.png');
  background-size: contain;
  .homeContainer {
    background-color: white;
    .left {
      background-color: white;
      img {
        width: 70%;
      }
    }
    .right {
      background-color: $primaryThemeColor;
      p {
        color: white;
        text-align: justify;
      }
      img {
        width: 40%;
      }
    }
  }
}

.submitBtn {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 5px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90vh;
  width: 100%;
  border-radius: $border_radius;
  overflow: hidden;
  background-color: $primaryThemeColor;
  box-shadow: 0 0 25px 0px #00000094;

  .left {
    background-color: $primaryThemeColor;
    width: 60%;
    // padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    .cont {
      width: 90%;
      .textAreaContainer {
        background-color: white;
        border-radius: $border_radius;
        padding: 10px;
        // box-shadow: 0 0 25px 0px #00000094;
      }
      .logoName {
        font-size: 2rem;
        font-weight: bold;
        color: white;
      }
      .title {
        color: white;
        font-size: 20px;
        text-align: left;
      }
      .textArea {
        text-align: left;
        width: -webkit-fill-available;
        background: transparent;
        color: black;
        border-radius: 5px;
        border: none !important;
        box-shadow: none;
        padding: 0.5%;
        outline: none;
      }
    }
  }
  .right {
    margin: 1%;
    background-color: white;
    width: 40%;
    border-radius: $border_radius;
    .answerTitle {
      font-size: 20px;
      font-weight: bold;
      color: black;
      text-align: left;
      display: block;
    }
    .answer {
      text-align: justify;
      background-color: $lightGrey;
      border-radius: $border_radius;
      padding: 10px;
      font-size: 12px;
    }
  }
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: $button_width + px;
  min-height: $button_height + px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  // text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  // box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 8px 20px;
}

.button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(150px + 12px);
  min-height: calc(40px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before {
  opacity: 1;
}

// button::after {
//   content: "";
//   width: 30px;
//   height: 30px;
//   border-radius: 100%;
//   border: 6px solid #00ffcb;
//   position: absolute;
//   z-index: -1;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   animation: ring 1.5s infinite;
// }

button:hover::after {
  animation: none;
  display: none;
}

// @keyframes ring {
//   0% {
//     width: 30px;
//     height: 30px;
//     opacity: 1;
//   }
//   100% {
//     width: 300px;
//     height: 300px;
//     opacity: 0;
//   }
// }

.customButton {
  background: none;
  color: #ffd32c;
  outline: none;
  padding: 6px 15px;
  border: 2px solid #ffd32c;
  border-radius: 5px;
  cursor: pointer;
}

.logoImage {
  position: absolute;
  top: 20px;
  left: 0;
  width: 150px !important;
}

.tipsContainer {
  list-style: none;
  width: 90%;
  padding: 0;
  color: lightgrey;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  .heading {
    font-weight: bold;
    font-size: 0.9rem;
    padding: 10px 0;
    // color: lightgrey;
  }
  li {
    text-align: left;
    &::after {
      content: ".";
    }
  }
}

.iframeContainer {
  --height: "50vh";
  height: var(--height);
  width: 50%;
  // background-color: red;
  position: absolute;
  transition: height 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  right: 10px;
  bottom: 10px;
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  overflow: hidden;
  // &:hover {
  //   // height: 80vh;
  // }
  .header {
    height: 60px;
    background-color: $primaryThemeColor;
    cursor: pointer;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.chatContainer {
  .input,
  .output {
    width: 50%;
    height: 100vh;
  }
}

.coworkcontainer {
  background-color: #f6f7fc;
  // height: 100vh;
  width: 100%;
  .header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      background: $themeBlack;
      img {
        height: 100%;
        width: 200px;
        object-fit: contain;
      }
    }
    .selectionarea {
      padding-right: 10px;
      .profileName {
        width: 30px;
        height: 30px;
        background: $themeBlack;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .body {
    // background-color: red;
    // height: 100%;
    padding: 20px;
    .welcomeArea {
      display: flex;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 20px;
      .welcome {
        background-color: white;
        width: 30%;
        display: flex;
        border-radius: 10px;
        border: solid rgba(255, 255, 255, 0.3) 10px; /*transparent border*/
        .content {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          .name {
            font-weight: bold;
            font-size: 1.5rem;
          }
          .update {
            font-weight: bold;
            font-size: 0.5rem;
          }
        }
        .image {
          img {
            width: 150px;
            // height: 100px;
            object-fit: contain;
          }
        }
      }
      .configArea {
        padding: 10px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        .name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .t {
            font-weight: bold;
            font-size: 1.8rem;
          }
        }
        .datepic {
        }
      }
    }
    .addsubmit {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 20px;
      .ddARea {
        padding-top: 10px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        div {
          // width: 25%;
        }
      }
    }
    .dashboardcard {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 20px;
      .cardstyle {
        margin: 1%;
        width: 23%;
        height: 200px;
        background-color: white;
        border-radius: $cBorderRadius;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .valuearea {
          display: flex;
          align-items: center;
          // justify-content: space-evenly;
          .value {
            // font-weight: bold;
            font-size: 1rem;
            padding-left: 10px;
          }
        }
        .name {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.custbut,
.inverted {
  outline: none;
  cursor: pointer;
  background: white;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: $cBorderRadius;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // &:hover {
  //   background: $themeBlack;
  //   color: white;
  // }
}
.inverted {
  background: $themeBlack;
  color: white;
  // &:hover {
  //   background: white;
  //   color: $themeBlack;
  // }
}

.customselect {
  margin-right: 10px;
  .ant-select-selector {
    width: 150px;
    // border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
    border-radius: 5px !important;
    border-color: white !important;
    border: solid rgba(255, 255, 255, 0.3) 10px; /*transparent border*/
    color: $themeBlack;
  }
}
